.bdy{
    background-color: #1f1f1f;
}
#cat1{
    color: rgb(0, 250, 0);
}
#cat2{
    color: orangered;
}
#cat3{
    color: #6610f2;
}
#cat4{
    color: skyblue;
}

#catbg1{
   background-color: green;
}
#catbg2{
    background-color: orangered;
}
#catbg3{
    background-color: #6610f2;
}
#catbg4{
    background-color: skyblue;
}

#button1{
    background-color: rgb(51, 255, 51);
    color: black;
}
#button2{
    background-color: rgb(255, 157, 122);
    color: black;
}
#button3{
    background-color: rgb(99, 41, 233);
    color: black;
}
#button4{
    background-color: rgb(49, 45, 255);
    color: black;
}
#universal{
    color: darkred;
}